<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta charset="UTF-8">
    <title>Login - Bill mangagment system </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>Hermes -- Bill management system</h1>
        </header>
        <section class="loginCont">
			<div th:if="${not #strings.isEmpty(msg)}" style="color:red; margin-left: 130px">Username is incorrect</div>
            <form class="loginForm" th:action="@{/login}" th:method="post" action="../main/index.html">
                <p>Use "root" as username and "123" as password</p>
                <div class="inputbox">
                    <label for="user" >Username</label>
                    <input id="user" type="text" name="username"  required/>
                </div>
                <div class="inputbox">
                    <label for="mima" >Password</label>
                    <input id="mima" type="password" name="password"  required/>
                </div>
				<div class="subBtn">
						<input type="checkbox"/> Remember Me
                </div>
				<br/>
                <div class="subBtn">
                    <input type="submit" value="Sign" />
                    <input type="reset" value="Reset"/>
                </div>
				<br/>
				<!--<div style="margin-left: 100px;">-->
                    <!--<a  href="#" th:href="@{/index.html(l='zh_CN')}">中文</a>-->
					<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a  href="#" th:href="@{/index.html(l='en_US')}">English</a>-->
                <!--</div>-->
            </form>
        </section>
    </section>
</body>
</html>