<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='provider')">
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>Supplier management page</span>
        </div>

        <form id="searchForm" th:action="@{/providers}" th:method="get">
            <div class="search">
                <span>Supplier: </span>
                <input type="text" th:value="${providerName}" name="providerName" placeholder="Please enter supplier name"/>
                <input type="button" onclick="$('#searchForm').submit()" value="Search"/>
                <a th:href="@{/provider}" href="add.html">Add supplier</a>
            </div>
        </form>

        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">Supplier No.</th>
                <th width="20%">Supplier name</th>
                <th width="10%">Contact</th>
                <th width="10%">Phone</th>
                <th width="10%">Fax</th>
                <th width="10%">Created</th>
                <th width="30%">Options</th>
            </tr>
            <tr th:each="p : ${providers}">
                <td th:text="${p.pid}">PRO-CODE—001</td>
                <td th:text="${p.providerName}">测试供应商001</td>
                <td th:text="${p.people}">韩露</td>
                <td th:text="${p.phone}">15918230478</td>
                <td th:text="${p.fax}">15918230478</td>
                <td th:text="${#dates.format(p.createDate, 'yyyy-MM-dd')}">2015-11-12</td>
                <td>
                    <a th:href="@{/provider/} + ${p.pid}" href="view.html"><img th:src="@{/img/read.png}" src="../img/read.png" alt="details" title="details"/></a>
                    <a th:href="@{/provider/} + ${p.pid} +'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  src="../img/xiugai.png" alt="update" title="update"/></a>
					<a th:attr="del_uri=@{/provider/}+${p.pid}"  href="#" class="delete" ><img th:src="@{/img/schu.png}"  src="../img/schu.png" alt="delete" title="delete"/></a>
                </td>
            </tr>

        </table>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post" id="deleteForm" >
    <input type="hidden" name="_method" value="delete">
    <div class="remove" id="removeProv">
       <div class="removerChid">
           <h2>提示</h2>
           <div class="removeMain" >
               <p>Are you sure you want to delete?</p>
               <a href="#" id="yes">Yes</a>
               <a href="#" id="no">No</a>
           </div>
       </div>
    </div>
</form>


<footer class="footer" th:replace="main/public :: #public_footer">
</footer>


<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>