<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='provider')">
    </div>
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>Supplier management page >> details</span>
        </div>
        <div class="providerView">
            <p><strong>Supplier No.:</strong><span th:text=" ${provider.pid}">PRO-CODE—001</span></p>
            <p><strong>Supplier name:</strong><span th:text=" ${provider.providerName}">测试供应商001</span></p>
            <p><strong>Contact:</strong><span th:text=" ${provider.people}">韩露</span></p>
            <p><strong>Phone:</strong><span th:text=" ${provider.phone}">15918230478</span></p>
            <p><strong>Fax:</strong><span th:text=" ${provider.fax}">15918230478</span></p>
            <p><strong>Description:</strong><span th:text=" ${provider.describe}">描述</span></p>

            <a onclick="history.back(-1)" href="#">Back</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>