<!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head lang="en" th:replace="main/public :: #public_head">

        </head>
        <body>
        <!--头部-->
        <header class="publicHeader" th:replace="main/public :: #public_header">

        </header>
        <!--时间-->
        <!--<section class="publicTime" th:replace="main/public :: #public_time">-->

        <!--</section>-->
        <!--主体内容-->
        <section class="publicMian ">
            <div class="left" th:replace="main/public :: #public_left(activeUri='user')">
            </div>
        <div class="right">
            <div class="location">
                <strong>You are currently at: </strong>
                <span>User management page</span>
            </div>
            <form id="searchForm" th:action="@{/users}" th:method="get" >
            <div class="search">
                <span>Username: </span>
                <input type="text" th:value="${username}" name="username" placeholder="Please enter username"/>
                <input type="button" value="Search" onclick="$('#searchForm').submit()"/>
                <a th:href="@{/user}" href="add.html">Add user</a>
            </div>
            </form>

            <!--用户-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">Username</th>
                    <th width="20%">Real name</th>
                    <th width="10%">Gender</th>
                    <th width="10%">Birthday</th>
                    <th width="10%">Type</th>
                    <th width="30%">Options</th>
                </tr>
                <tr th:each="u : ${users}">
                    <td th:text="${u.username}">hanlu</td>
                    <td th:text="${u.realName}">韩露</td>
                    <!--性别：1 女  2 男-->
                    <td th:text="${u.gender == 1 ? 'female' : 'male'}">女</td>
                    <td th:text="${#dates.format(u.birthday, 'yyyy-MM-dd')}">1989/10/10</td>
                    <!--1管理员  2经理  3普通用户-->
                    <td th:text="${u.userType==1 ? 'Admin' : (u.userType==2 ? 'Manager' : 'Employee') }">经理</td>
                    <td>
                        <a th:href="@{/user/} + ${u.id}" href="view.html"><img th:src="@{/img/read.png}" src="../img/read.png" alt="details" title="details"/></a>
                        <a th:href="@{/user/} + ${u.id} +'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  src="../img/xiugai.png" alt="Update" title="Update"/></a>
                        <a th:attr="del_uri=@{/user/}+${u.id}"  href="#" class="delete" ><img th:src="@{/img/schu.png}"  src="../img/schu.png" alt="Delete" title="Delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>


	<!--点击删除按钮后弹出的页面-->
	<div class="zhezhao"></div>
	<form method="post" id="deleteForm">
		<input type="hidden" name="_method" value="delete">
		<div class="remove" id="removeProv">
		   <div class="removerChid">
			   <h2>提示</h2>
			   <div class="removeMain" >
				   <p>Are you sure you want to delete?</p>
				   <a href="#" id="yes">Yes</a>
				   <a href="#" id="no">No</a>
			   </div>
		   </div>
		</div>
	</form>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>


<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>