<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>Bill management page >> details</span>
        </div>
        <div class="providerView">
            <p><strong>Bill No.: </strong><span th:text="${billProvider.billCode}">231</span></p>
            <p><strong>Merchandise: </strong><span th:text="${billProvider.billName}">测试供应商002</span></p>
            <p><strong>Unit: </strong><span th:text="${billProvider.billCom}">年</span></p>
            <p><strong>Quantity: </strong><span th:text="${billProvider.billNum}">22</span></p>
            <p><strong>Amount: </strong><span th:text="${billProvider.money}">22</span></p>
            <p><strong>Supplier: </strong><span th:text="${billProvider.providerName}">AAA</span></p>
            <p><strong>Status: </strong><span th:text="${billProvider.pay == 1 ? 'Paid' : 'Unpaid' }">未付款</span></p>
            <p><strong>Created: </strong><span th:text="${#dates.format(billProvider.createDate, 'yyyy-MM-dd')}">2029/12/12 12:12:12</span></p>

            <a onclick="history.back(-1)" href="#">Back</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>