<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>Bill management page >> add</span>
        </div>
        <div class="providerAdd">
            <form id="addForm" th:action="@{/bill}" th:method="post" action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="billCode">Bill No.</label>
                    <input type="text" name="billCode" id="billCode" required/>
                    <span>*Please enter bill number</span>
                </div>
                <div>
                    <label for="billName">Merchandise</label>
                    <input type="text" name="billName" id="billName" required/>
                    <span >*Please enter merchandise name</span>
                </div>
                <div>
                    <label for="billCom">Unit</label>
                    <input type="text" name="billCom" id="billCom" required/>
                    <span>*Please enter unit </span>

                </div>
                <div>
                    <label for="billNum">Quantity</label>
                    <input type="text" name="billNum" id="billNum" required/>
                    <span>*Must be greater than 0</span>
                </div>
                <div>
                    <label for="money">Amount</label>
                    <input type="text" name="money" id="money" required/>
                    <span>*Must be greater than 0</span>
                </div>
                <div>
                    <label >Supplier</label>
                    <select name="pid" >
                        <option value="">--choose--</option>
                        <option value="" th:each="p : ${providers}" th:value="${p.pid}" th:text="${p.providerName}">北京市粮油总公司</option>
                    </select>
                    <span>*Please choose supplier</span>
                </div>
                <div>
                    <label >Status </label>
                    <input type="radio" value="0" name="pay" checked />Unpaid
                    <input type="radio" value="1" name="pay"/>Paid
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="billList.html">返回</a>-->
                    <input type="button" onclick="$('#addForm').submit();" value="Save" />
                    <input type="button" value="Back" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>