<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
        <div class="right">
            <div class="location">
                <strong>You are currently at: </strong>
                <span>Bill management page</span>
            </div>
            <form id="searchForm" th:action="@{/bills}" th:method="get" >
            <div class="search" >
                <span>Merchandise: </span>
                <input type="text" name="billName" th:value="${billName}" placeholder="Please input merchandise name"/>

                <span>Supplier</span>

                <select name="pid" >
                    <option value=""  >--choose--</option>
                    <option value="" th:selected="${p.pid == pid}" th:each="p : ${providers}"  th:value="${p.pid}" th:text="${p.providerName}" >北京市粮油总公司</option>
                    <!--<option value="" th:selected="${pid == p.pid}" th:each="p : ${providers}" th:value="${p.pid}" th:text="${p.providerName}">-->
                        北京市粮油总公司
                    </option>
                </select>

                <span>Status: </span>
                <select name="pay" >
                    <option value="">--choose--</option>
                    <option value="0" th:selected="${pay == 0}" >Not paid</option>
                    <option value="1" th:selected="${pay == 1}">Paid</option>
                </select>

                <input type="button" value="Search" onclick="$('#searchForm').submit()"/>
                <a th:href="@{/bill}" href="../bill/add.html">Add bill</a>
            </div>
            </form>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">Bill No.</th>
                    <th width="20%">Merchandise</th>
                    <th width="10%">Supplier</th>
                    <th width="10%">Total amount</th>
                    <th width="10%">Status</th>
                    <th width="10%">Created</th>
                    <th width="30%">Options</th>
                </tr>
                <tr th:each="b : ${billProviders}">
                    <td th:text="${b.billCode}">213</td>
                    <td th:text="${b.billName}">123</td>
                    <td th:text="${b.providerName}">1</td>
                    <td th:text="${b.money}">1000</td>
                    <td th:text="${b.pay == 1 ? 'paid' : 'unpaid'}">未付款</td>
                    <td th:text="${#dates.format(b.createDate, 'yyyy-MM-dd')}"></td>
                    <td>
                        <a th:href="@{/bill/} + ${b.bid}" href="view.html"><img th:src="@{/img/read.png}" src="../img/read.png" alt="details" title="details"/></a>
                        <a th:href="@{/bill/} + ${b.bid} +'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  src="../img/xiugai.png" alt="change" title="update"/></a>
                        <a th:attr="del_uri=@{/bill/}+${b.bid}"  href="#" class="delete" ><img th:src="@{/img/schu.png}"  src="../img/schu.png" alt="delete" title="delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

	<!--点击删除按钮后弹出的页面-->
	<div class="zhezhao"></div>
	<form method="post" id="deleteForm" >
		<input type="hidden" name="_method" value="delete">
		<div class="remove" id="removeProv">
		   <div class="removerChid">
			   <!--<h2>提示</h2>-->
			   <div class="removeMain" >
				   <p>Are you sure you want to delete?</p>
				   <a href="#" id="yes">Yes</a>
				   <a href="#" id="no">No</a>
			   </div>
		   </div>
		</div>
	</form>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->

</body>
</html>