<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='user')">
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>User management page >> add</span>
        </div>
        <div class="providerAdd">
            <form id="addForm" th:action="@{/user}" th:method="post" action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username"/>
                    <span>*Please enter username, cannot duplicate</span>
                </div>
                <div>
                    <label for="realName">Real name: </label>
                    <input type="text" name="realName" id="realName"/>
                    <span >*Please enter real name</span>
                </div>
                <div>
                    <label for="userpassword">Password: </label>
                    <input type="text"  name="userpassword" id="userpassword"/>
                    <span>*Length must be between 7 and 20</span>

                </div>
                <div>
                    <label for="password">Confirm password: </label>
                    <input type="text" name="password" id="password"/>
                    <span id="pwdText" >*Please enter password</span>
                </div>
                <div>
                    <label >Gender: </label>

                    <select name="gender">
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                    </select>
                    <span></span>
                </div>
                <div>
                    <label for="birthday">Birthday</label>
                    <input type="text" name="birthday" id="birthday"/>
                    <span >*format yyyy-MM-dd </span>
                </div>
                <div>
                    <label >User type: </label>
                    <input type="radio" name="userType" value="1" />Admin
                    <input type="radio" name="userType" value="2" checked/>Manager
                    <input type="radio" name="userType" value="3"/>Employee
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="button" id="save" value="Save" />
                    <input type="button" value="Back" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        //点击 确定
        $('#save').click(function () {
            //校验密码
            if($("#userpassword").val().trim() == '' ||
                $("#password").val().trim() == '' ||
                $("#userpassword").val() != $("#password").val()) {
                $("#pwdText").replaceWith("<span id='pwdText' style='color: red'>*Please enter correct confirm password</span>");
                return;
            }
            $("#addForm").submit();
        });

    });
</script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>