<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<!--<section class="publicTime" th:replace="main/public :: #public_time">-->

<!--</section>-->
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='user')">
    </div>
    <div class="right">
        <div class="location">
            <strong>You are currently at: </strong>
            <span>User management page >> details</span>
        </div>
        <div class="providerView">
            <p><strong>Username:</strong><span th:text="${user.username}">hanlu</span></p>
            <p><strong>Real name:</strong><span th:text="${user.realName}">韩露</span></p>
            <p><strong>Gender:</strong><span th:text="${user.gender == 1 ? 'female' : 'male'}">女</span></p>
            <p><strong>Birthday:</strong><span th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}">2011/2/1</span></p>
            <p><strong>User type:</strong><span th:text="${user.userType==1 ? 'Admin' : (user.userType==2 ? 'Manager' : 'Employee') }">经理</span></p>
            <a onclick="history.back(-1)" href="#">Back</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

</body>
</html>